doctype html
| <!--[if lte IE 9]> <html lang="en" class="ieold ie "> <![endif]-->
html(lang="en")
	head
		block setup

		//- mixin list
		include ../mixins/scripts
		include ../mixins/meta

		//- [mixin] meta tags
		+meta

		//- css
		link(rel="stylesheet", href="css/app.css", type="text/css")

	body
		block content

		//- js scripts
		script(src="js/lib.min.js")
		script(src="js/app.js")